@using TodoList.MVC.ViewModels;
@model ToDoListTaskViewModel

<div class="col-sm-6">
  <form id="create-task" method="post" asp-action="CreateTask" asp-controller="ToDoList">
    <div class="hstack gap-3" style="margin:0.75rem!important;">
      <div class="vstack gap-1">
        <input asp-for="ToDoListId" type="hidden" value="@Model.ToDoListId"/>
        <input id="create-task-input" asp-for="Title" type="text" class="form-control" placeholder="Create a new Task"/>
        <span asp-validation-for="Title" class="text-danger validation-message"></span>
      </div>
      <script>
        $("form#create-task").removeData("validator").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse("form#create-task");
      </script>
      <button id="create-task-button" type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</div>