@using TodoList.Domain.DAL.Enums
@using TodoList.MVC.ViewModels;
@model ToDoListViewModel
@{
  var notStartedCount = Model?.ToDoListTasks.Where(t => t.Status == TodoStatus.NotStarted).Count();
  var inProgressCount = Model?.ToDoListTasks.Where(t => t.Status == TodoStatus.InProgress).Count();
  var completedCount = Model?.ToDoListTasks.Where(t => t.Status == TodoStatus.Completed).Count();
}

@{
  if (Model == null)
  {
    <h3>Select a list</h3>
  }
  else
  {
    <h3>Tasks of <i>@Model.Title</i></h3>
    <div class="todo-list-task-container">
      @await Html.PartialAsync("_CreateTask", new ToDoListTaskViewModel() { ToDoListId = Model.Id })
      <div id="task-list" class="task-list-containter">
        <ul class="nav nav-tabs" id="task-status-tabs" role="tablist">
          <li class="nav-item">
            <button id="not-started-button" class="tablinks active" onclick="selectTab(event, 'not-started')">Not started <span class="badge custom-badge">@notStartedCount</span></button>
          </li>
          <li class="nav-item">
            <button id="in-progress-button" class="tablinks" onclick="selectTab(event, 'in-progress')">In progress <span class="badge custom-badge">@inProgressCount</span></button>
          </li>
          <li class="nav-item">
            <button id="completed-button" class="tablinks" onclick="selectTab(event, 'completed')">Completed <span class="badge custom-badge">@completedCount</span></button>
          </li>
        </ul>
        <div class="tab-content" id="task-status-tabs-content">
          <div class="tabcontent" id="not-started" role="tabpanel" aria-labelledby="not-started-tab" style="display:block;">
            <ul class="list-group">
              @foreach (var task in Model.ToDoListTasks.Where(t => t.Status == TodoStatus.NotStarted))
              {
                @await Html.PartialAsync("_Task", task)
              }
            </ul>
          </div>
          <div class="tabcontent" id="in-progress" role="tabpanel" aria-labelledby="in-progress-tab" style="display:none;">
            <ul class="list-group">
              @foreach (var task in Model.ToDoListTasks.Where(t => t.Status == TodoStatus.InProgress))
              {
                @await Html.PartialAsync("_Task", task)
              }
            </ul>
          </div>
          <div class="tabcontent" id="completed" role="tabpanel" aria-labelledby="completed-tab" style="display:none;">
            <ul class="list-group">
              @foreach (var task in Model.ToDoListTasks.Where(t => t.Status == TodoStatus.Completed))
              {
                @await Html.PartialAsync("_Task", task)
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  }
}