html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #A9B2BF;
    opacity: 0.4;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.navbar {
    min-height: 56px;
    max-height: 56px;
    background: #3a4147;
    z-index: 1;
}

.custom-bg {
    background-color: #23272c;
}

@media (max-width: 575.98px) {
    .navbar {
        max-height: none;
    }
}

body {
    background: #23272C;
}

main {
    padding-top: 66px;
}

h1, h2, h3, h4 {
    color: #4fc9b0;
}

hr{
    color:#f5f5f5;
}

p{
    color:#f5f5f5;
}

.alert.alert-warning p {
    color: inherit;
}

#create-input {
    color: #f5f5f5;
    font-weight: 500;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    transition: border-bottom-color 0.2s ease-in-out;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0.375rem 0.3rem;
}

    #create-input:focus {
        border-bottom-color: #4fc9b0;
        font-weight: 500;
    }

.validation-message{
    margin-left:5px;
}

#create-button {
    background-color: transparent;
    border: none;
    color: #4fc9b0;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 5px;
    margin-right: 5px;
}

    #create-button:hover {
        background-color: #4fc9b0;
        color: #f5f5f5;
    }

.btn-custom-margin {
    margin: 3.5px;
    margin-left: 5px;
}

.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
    box-shadow: none;
    outline: none;
}

#edit-title-input {
    color: #f5f5f5;
    font-weight: 500;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    transition: border-bottom-color 0.2s ease-in-out;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0.375rem 0.25rem;
}

    #edit-title-input:focus {
        border-bottom-color: #4fc9b0;
        font-weight: 500;
    }

#create-task {
    padding-bottom: 7px;
}

#create-task-input {
    color: #f5f5f5;
    font-weight: 500;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    transition: border-bottom-color 0.2s ease-in-out;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0.375rem 0.3rem;
}

    #create-task-input:focus {
        border-bottom-color: #4fc9b0;
        font-weight: 500;
    }

#create-task-button {
    background-color: transparent;
    border: none;
    color: #4fc9b0;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 5px;
    margin-right: 5px;
}

    #create-task-button:hover {
        background-color: #4fc9b0;
        color: #f5f5f5;
    }


.todo-list-container {
    height: 80vh;
    background: #282e33;
    border-radius: 15px;
    padding-top: 1px;
    position: relative;
}

.todo-list-items {
    max-height: 80%;
    overflow-y: auto;
}

.list-group {
    background: #2a2f33;
}

.todo-list {
    border-radius: 10px;
    background: #3a4147;
    min-height: 75px;
}

    .todo-list:first-child {
        border-radius: 10px;
    }

    .todo-list:last-child {
        border-radius: 10px;
    }

    .todo-list:hover:not(.active) {
        background: #353c43;
    }

    .todo-list.active {
        background: #4fc9b0;
        border-color: #4fc9b0;
    }

.todo-list-link {
    color: #f5f5f5;
    display: block;
    height: 100%;
    width: 100%;
    text-align: left;
    font-weight: bold;
    vertical-align: middle;
}

    .todo-list-link:link {
        text-decoration: none;
    }

    .todo-list-link:visited {
        text-decoration: none;
    }

    .todo-list-link:hover:not(.active) {
        text-decoration: none;
        color: #3dd5b8;
    }

    .todo-list-link.active {
        color: #f5f5f5;
        display: block;
        height: 100%;
        width: 100%;
        text-align: left;
        font-weight: bold;
        vertical-align: middle;
    }

.toggle-sidebar {
    position: absolute;
    left: 0;
    top: 56px;
    padding: 5px 10px;
    background-color: #4fc9b0;
    font-size: 16px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#todoListOffcanvas.offcanvas-start {
    border-right: 1px solid #3a4147;
}

@media (min-width: 768px) {
    #todoListOffcanvas.offcanvas-start {
        border-right: none;
    }
}

#todoListOffcanvas.offcanvas-start .offcanvas-header {
    padding-top: 1rem !important;
    padding-bottom: 1.25rem !important;
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}

#todoListOffcanvas.offcanvas-start .offcanvas-body {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}

.nav-tabs {
    border-bottom: 3px solid #4fc9b0;
    padding-top: 8px;
}

.todo-list-task-container {
    background: #282e33;
    border-radius: 15px;
    padding-top: 1px;
    height: 80vh;
}

.tablinks {
    color: #f5f5f5;
    background: #3a4147;
    border: 0px;
    margin-right: 3px;
    border-top-right-radius: 0px;
    border-top-left-radius: 20px;
}

    .tablinks.active {
        background: #4fc9b0;
        z-index: 1;
    }

.custom-badge {
    border-radius: 100px;
    margin: 5px;
    background-color: #f5f5f5;
    color: black;
    font-size: 10px;
}

.task-list-containter {
    height: 80%;
}

.tab-content {
    height: 100%;
    overflow-y: auto;
}

.todo-list-task {
    border-radius: 30px;
    background: #3a4147;
    padding-left:8px;
}

    .todo-list-task:first-child {
        border-radius: 30px;
    }

    .todo-list-task:last-child {
        border-radius: 30px;
    }

    .todo-list-task:hover:not(.active) {
        background: #353c43;
    }

    .todo-list-task.active {
        background: #4fc9b0;
        border-color: #4fc9b0;
    }


.task-status-btn {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.task-title{
    color:#f5f5f5;
}

.btn-custom-transparent {
    font-size:16px;
    text-align:start;
    width:100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
    padding: 0px 0px 0px 0px;
}

    .btn-custom-transparent:hover,
    .btn-custom-transparent:focus,
    .btn-custom-transparent:active {
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: inherit;
    }

        .btn-custom-transparent:focus:not(:focus-visible) {
            box-shadow: none;
        }


.form-delete {
    display: inline-block;
    float: right;
}

.modal-content {
    background-color: #282e33;
    color: #f5f5f5;
    border: 1px solid #3a4147;
}

.modal-header {
    background-color: #282e33;
    color: #fff;
    border-bottom: 1px solid #3a4147;
}

.modal-footer {
    background-color: #282e33;
    color: #fff;
    border-top: 1px solid #3a4147;
}

.form-control-custom:focus {
    color: #f5f5f5;
    background-color: #3a4147;
    border-color: #4fc9b0;
    outline: 0;
    box-shadow: 0 0 0 0rem white, 0 0 0 0rem #4fc9b0;
    transition: border-color 0.2s ease-in-out;
}

.form-custom-bg {
    background-color: #343a40;
    color: #f5f5f5;
    border-color: #454d54;
}

.textarea-description {
    height: 120px;
    font-size: 16px;
    line-height: normal;
}

::-webkit-input-placeholder {
    font-style: italic;
}